
.buttons__button {
    border: none;
    background-color: #ffffff;
    color: #3c7681;
    cursor: pointer;
}
  
.buttons__button:hover {
    color: #6c989b;
}
  
.buttons__button:active {
    color: #6c989b87;
    transform: scale(0.98);
}
  
.buttons__button:disabled {
    color: #a9a8a8;
    transform: scale(1);
    cursor: default;
}

@media (max-width: 750px) {
    .buttons {
        display: flex;
        padding: 30px 0;
        flex-direction: column;
    }

    .buttons__button {
        padding: 5px 0;
      }
}